# macOS
.DS_Store

# IDE
.idea/
.vscode/

# Environment
.env
.env.*

# Flutter / Dart
.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/

# iOS
ios/Pods/
ios/.symlinks/

# Android
android/.gradle/
android/local.properties

# Logs
*.log